*.bak
*.sql
db_conn.php
/nbproject/private/
Anagrafe/utenti/gestione_utenti_old.php
Anagrafe/OSM/edit_save.php
Anagrafe/OSM/points.geojson
Anagrafe/OSM/points.geojson
Anagrafe/OSM/points.geojson
Anagrafe/persone/mod_persona_old.php
Anagrafe/OSM/hover.html
Anagrafe/OSM/points.geojson
Anagrafe/OSM/points.geojson
Anagrafe/OSM/points.geojson
Anagrafe/vis_pag_old.php
