*{margin: 0 auto;   
}

body {
    background-color: #C0DBF7;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
}

h {
	font-size: 20px; 	
	font-weight: bold;
}

.container {
  padding: 2px 100%;
}

.container1 {
  padding: 2px 100%;
}
table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
        border-collapse: collapse; 
	width: 100%;
}


tr:hover {
	background-color: #01295f63 !important
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th, td {
	padding: 5px 5px;
        text-align: left;
	border-bottom: 1px solid #01295F;
}
th {
	color: white;
	background-color: #36494E;
}

/* barra di navigazione */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01295F;
}

li {
    float: left;
}
li.titolo {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 2.5vw;
    font-size: 25px;
    text-shadow: 4px 3px 6px rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 2.5vw;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
a{
color: #000;
}

/* bottoni */
.button {
    background-color: #36494E;
    border: none;
    color: white;
    padding:11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 36%;
    font-size: 16px;
    border-radius: 6px;
}

.button:hover {
    background-color: #01295f63;
    color: white;
}


input {
    border: 2px solid grey;
    border-radius: 4px;
    width: 36%;
    padding: 11px 32px;
    margin: 5px 5px;
    box-sizing: border-box;
}

select {
    border: 2px solid grey;
    border-radius: 4px;
    width: 34%;
    padding: 11px 14px;
    margin: 5px 5px;
    box-sizing: border-box;
	
}

div {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

input:focus, select:focus {
    border: 3px solid #555;
}
form {
    display: inline-block;
}
.pagination {
    position:absolute;
    top:-90%;
    left: 60%;
    height: 0%;
    width:30%;
    z-index: 0;
}

.nav {
  display: inline-flex;
  position: relative;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.nav-item {
  color:white;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  position: relative;
}

/*contiene le tabelle di persone morance e case*/
.resto{
    position: absolute;
    top: 40%;
    width: 100%;
}
.dnav{
    position: absolute;
    width: 100%;
    height: 10%;
    }
.capp{
    top: -1%;
    left:35%;
    background-color:aliceblue;
    text-align: center;
    font-size: 14;
    position:absolute;
    border-bottom-left-radius:  40px;
    border-bottom-right-radius: 40px;
    width: 30%;
    height: 12%;
}

#butto{
   padding-bottom: 1.5%;
   padding-top: 0.5%;
   position: absolute;
   left: 70%;
   top: 5%;
   height: 7%; 
   width: 6%
}
.camp{   
   display:inline-block;
   position: absolute; 
   width: 18%;
   height: 9%;
   padding:1% 1%; 
   margin: 0.8% 0;
   border-radius: 7%;
   box-sizing: border-box;
}
#user{
      width: 30%;
top:5%;
    left: 15%; 
}

#psw{
    top: 5%;
     left :50%;  
    }

#uspw{
    left: 5%;
    background:white;
    position:absolute;
    display: inline-flex;
    padding: 0% 0%;
    border-bottom-left-radius:  40px;
    border-bottom-right-radius: 40px;
    width: 90%;
    height: 10%;
}


.Area{    
    float:left;
    text-align: center;
    position:absolute;
    top: 20%;
    left:15%;
    width:70%;
}

 #form {	
        width:90%;
		text-align: left;
		display: inline-block;
    }

  #form label {
        display: inline-block;
        text-align:left;
        width:100px;
        padding: 10px 0;
    }