/*Descrizione:css di util.php momentaneo
/25/03/2020: Ferraiuolo: aggiunta css*/
.droppdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.droppdown .droppbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}



/* Dropdown content (hidden by default) */
.droppdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.droppdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.droppdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.droppdown:hover .droppdown-content {
  display: block;
}